@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 1;
  --background-start-rgb: 249, 250, 251;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .container-custom {
    @apply container mx-auto px-7 max-w-7xl;
  
  .btn-primary {
    @apply bg-primary text-white font-medium py-2 px-6 rounded-md hover:bg-opacity-90 transition-all duration-300;
  }
  
  .btn-secondary {
    @apply bg-white text-primary border border-primary font-medium py-2 px-5 rounded-md hover:bg-gray-50 transition-all duration-300;
  }

  .section-padding {
    @apply py-12 md:py-25;
  }

  .heading-1 {
    @apply text-3xl md:text-5xl font-bold;
  }

  .heading-2 {
    @apply text-2xl md:text-4xl font-bold;
  }
}
